@model List<Reparacion>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

@*<a href="@Url.Action("Create", "Reparacion")" class="btn btn-primary mb-3">Crear nueva reparación</a>*@
@*<a id="idCreaReparacion" class="btn btn-primary mb-3">Crear nueva reparación</a>*@
<button type="button" class="btn btn-primary" onclick="mostrarModal()">Crear Reparacion</button>

@if (Model == null || !Model.Any())
{
    <div>No se encontraron reparaciones</div>
}
else
{
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Código Reparación</th>
                <th>Fecha</th>
                <th>NIT</th>
                <th>Nombre</th>
                <th>Motocicleta</th>
                <th>Mecánico</th>
                <th>Convertido a venta</th>
                <th>Código asignación permisos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reparacion in Model)
            {
                <tr>
                    <td>@reparacion.CodigoReparacion</td>
                    <td>@reparacion.Fecha.ToShortDateString()</td>
                    <td>@reparacion.Nit</td>
                    <td>@reparacion.Nombre</td>
                    <td>@reparacion.Motocicleta</td>
                    <td>@reparacion.Mecanico</td>
                    <td>@(reparacion.ConvertidoAVenta ? "Sí" : "No")</td>
                    <td>@reparacion.Codigoasignacionpermisos</td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="modal fade" id="Create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Reparación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="cerrarModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="reparacion-form">
        <div class="modal-body">
          <div class="form-group">
            <label for="motocicleta">Motocicleta</label>
            <input type="text" class="form-control" id="motocicleta" name="motocicleta" required>
          </div>
          <div class="form-group">
            <label for="mecanico">Mecánico</label>
            <input type="text" class="form-control" id="mecanico" name="mecanico" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cerrarModal()">Cancelar</button>
          <button type="button" class="btn btn-primary" onclick="guardarReparacion()">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
function mostrarModal() {
  $('#Create').modal('show');

}
function cerrarModal() {
  $('#Create').modal('hide');
}

function guardarReparacion() {
  var formData = {
    'motocicleta': $('#motocicleta').val(),
    'mecanico': $('#mecanico').val()
  };
  
  $.ajax({
    type: 'POST',
    url: '@Url.Action("Create", "Reparacion")',
    data: formData,
    success: function(data) {
      // Cierra el modal después de enviar la petición
      $('#Create').modal('hide');
      // Recarga la página después de cerrar el modal
      location.reload();
    },
    error: function(xhr, status, error) {
      // En caso de error, muestra el mensaje de error en la consola.
      console.error(error);
    }
  });
}


</script>
