@using System.Text.Json
@model List<Reparacion>



@{
    ViewData["Title"] = "Reparaciones";
}

<h1>Reparaciones Activas</h1>
<br>
@*<a href="@Url.Action("Create", "Reparacion")" class="btn btn-primary mb-3">Crear nueva reparación</a>*@
@*<a id="idCreaReparacion" class="btn btn-primary mb-3">Crear nueva reparación</a>*@
<button type="button" class="btn btn-primary" onclick="mostrarModal()">Crear Reparacion</button>
<br><br>

@if (Model == null || !Model.Any())
{
    <div>No se encontraron reparaciones</div>
}
else
{
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Código Reparación</th>
                    <th>Fecha</th>
                    <th>NIT</th>
                    <th>Nombre</th>
                    <th>Motocicleta</th>
                    <th>Mecánico</th>
                    <th>Convertido a venta</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reparacion in Model)
                {
                    <tr>
                        <td>@reparacion.CodigoReparacion</td>
                        <td>@reparacion.Fecha.ToShortDateString()</td>
                        <td>@reparacion.Nit</td>
                        <td>@reparacion.Nombre</td>
                        <td>@reparacion.Motocicleta</td>
                        <td>@reparacion.Mecanico</td>
                        <td>@(reparacion.ConvertidoAVenta ? "Sí" : "No")</td>
                        <td>
                    <button type="button" class="btn btn-danger btn-lg eliminarBtn"  data-codigo-reparacion="@reparacion.CodigoReparacion" title="Eliminar reparación"></button>
                    <button type="button" class="btn btn-primary btn-lg" data-codigo-reparacion="@reparacion.CodigoReparacion" title="Ver Detalle"></button>
                    <button type="button" class="btn btn-success btn-lg convertirBtn"  data-codigo-reparacion="@reparacion.CodigoReparacion" title="Convertir a Venta"></button>
                  




              </td>
                    </tr>
                }
                @if (!Model.Any())
                {
                    <tr>
                        <td colspan="8">No se encontraron reparaciones</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div class="modal fade" id="Create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear Reparación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="cerrarModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="reparacion-form">
        <div class="modal-body">
          <div class="form-group">
            <label for="motocicleta">Motocicleta</label>
            <input type="text" class="form-control" id="motocicleta" name="motocicleta" required>
          </div>
          <div class="form-group">
            <label for="mecanico">Mecánico</label>
            <input type="text" class="form-control" id="mecanico" name="mecanico" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cerrarModal()">Cancelar</button>
          <button type="button" class="btn btn-primary" onclick="guardarReparacion()">Aceptar</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro que deseas eliminar la reparación?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="confirmarEliminarBtn" data-dismiss="modal">Eliminar</button>
        <input type="hidden" id="codigoReparacionEliminar">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="convertirModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro que deseas convertir la reparación en una orden de servicio?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="confirmarConvertirBtn" data-dismiss="modal">Convertir</button>
        <input type="hidden" id="codigoReparacionConvertir">
      </div>
    </div>
  </div>
</div>








<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<@*div class="modal fade" id="Detalle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLiveLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLiveLabel">Detalle de reparación</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Código de detalle</th>
              <th>Código de producto</th>
              <th>Nombre</th>
              <th>Unidades</th>
              <th>Precio</th>
              <th>Total</th>
              <th>Descuento</th>
            </tr>
          </thead>
          <tbody>
            @foreach (var detalle in Model.DetallesReparacion)
            {
              <tr>
                <td>@detalle.CodigoDetalleReparacion</td>
                <td>@detalle.CodigoProducto</td>
                <td>@detalle.Nombre</td>
                <td>@detalle.Unidades</td>
                <td>@detalle.Precio</td>
                <td>@detalle.Total</td>
                <td>@detalle.Descuento</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
*@
<script>
function mostrarModal() {
  $('#Create').modal('show');

}
function mostrarDetale() {
  $('#Detalle').modal('show');
  }
  //function mostrarConvertir() {
  //$('#Convertir').modal('show');
  //}
  function mostrarConvertir() {
  var codigoReparacion = $('#convertirBtn').data('codigo-reparacion');
  console.log('Código de reparación a convertir: ' + codigoReparacion);
  $('#convertirModal').modal('show');
  $('#codigoReparacionConvertir').val(codigoReparacion);
}
function convertirReparacion() {
  var codigoReparacion = $('#codigoReparacionConvertir').val();
  console.log('Código de reparación a convertir: ' + codigoReparacion);
  $.ajax({
    type: 'POST',
    url: '/reparacion/convertir',
    data: { codigoReparacion: codigoReparacion },
    success: function(response) {
      console.log(response);
      if (response.success) {
        alert('La reparación se ha convertido en orden de trabajo correctamente.');
        window.location.reload();
      } else {
        alert('No se ha podido convertir la reparación en orden de trabajo.');
      }
    },
    error: function(xhr, status, error) {
      console.log(xhr.responseText);
      alert('Ha ocurrido un error al intentar convertir la reparación en orden de trabajo.');
    }
  });
}


function cerrarModal() {
  $('#Create').modal('hide');
}
function cerrarDetalle() {
  $('#Detalle').modal('hide');
}

function guardarReparacion() {
  var formData = {
    'motocicleta': $('#motocicleta').val(),
    'mecanico': $('#mecanico').val()
  };
  
  $.ajax({
    type: 'POST',
    url: '@Url.Action("Create", "Reparacion")',
    data: formData,
    success: function(data) {
      // Cierra el modal después de enviar la petición
      $('#Create').modal('hide');
      // Recarga la página después de cerrar el modal
      location.reload();
    },
    error: function(xhr, status, error) {
      // En caso de error, muestra el mensaje de error en la consola.
      console.error(error);
    }
  });
}




$(document).ready(function() {
  $('.eliminarBtn').click(function() {
    var codigoReparacion = $(this).data('codigo-reparacion');
    console.log(codigoReparacion); // Agregamos el console.log para mostrar el valor de codigoreparacion
    $('#eliminarModal').modal('show');
    $('#codigoReparacionEliminar').val(codigoReparacion);
  });


  $('#confirmarEliminarBtn').click(function() {
    var codigoReparacion = $('#codigoReparacionEliminar').val();
    console.log('Código de reparación a eliminar: ' + codigoReparacion); // Muestra el código de reparación en la consola
    $.ajax({
      type: 'DELETE',
      url: '@Url.Action("Delete", "Reparacion")',
      data: {codigoReparacion: codigoReparacion},
      success: function(data) {
        console.log('Reparación eliminada correctamente'); // Muestra un mensaje de éxito en la consola
        // Cierra el modal después de enviar la petición
        $('#eliminarModal').modal('hide');
        // Recarga la página después de cerrar el modal
        location.reload();
      },
      error: function(xhr, status, error) {
        // En caso de error, muestra el mensaje de error en la consola.
        console.error(error);
      }
    });
  });

    $('.convertirBtn').click(function() {
    var codigoReparacion = $(this).data('codigo-reparacion');
    console.log(codigoReparacion);
    $('#convertirModal').modal('show');
    $('#codigoReparacionConvertir').val(codigoReparacion);
  });


  $('#confirmarConvertirBtn').click(function() {
    var codigoReparacion = $('#codigoReparacionConvertir').val();
    console.log('Código de reparación a convertir: ' + codigoReparacion);
    $.ajax({
      type: 'POST',
      url: '@Url.Action("Convertir", "Reparacion")',
      data: {codigoReparacion: codigoReparacion},
      success: function(data) {
        console.log('Reparación convertida correctamente');
        $('#convertirModal').modal('hide');
        location.reload();
      },
      error: function(xhr, status, error) {
        console.error(error);
      }
    });
  });
});
</script>
