@{
    ViewData["Title"] = "Sucursales";
}

<h1>@ViewData["Title"]</h1>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th class="d-none">CODIGO ASIGNACIONPERMISOS</th>
                <th class="d-none">CODIGO SUCURSAL</th>
                <th>NOMBRE</th>
                <th>DIRECCION</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
                <tr class="table-row-link" data-href="@Url.Action("Permisos", "Permisos", new { CodigoAsignacionPermisos = row.CodigoAsignacionPermisos })">
                    <td class="d-none">@row.CodigoAsignacionPermisos</td>
                    <td class="d-none">@row.CodigoSucursal</td>
                    <td style="font-size: 16px">@row.Nombre</td>
                    <td style="font-size: 16px">@row.Direccion</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.table-row-link').on('click', function () {
                window.location.href = $(this).data('href');
            });
        });
    </script>
}
