@{
    ViewData["Title"] = "Sucursales";
}

<h1>@ViewData["Title"]</h1>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th class="d-none">CODIGO ASIGNACIONPERMISOS</th>
                <th class="d-none">CODIGO SUCURSAL</th>
                <th>NOMBRE</th>
                <th>DIRECCION</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Model)
            {
                <tr onclick="location.href='@Url.Action("Permisos", "Permisos", new { codigoSucursal = row.CodigoSucursal })'">
                    <td class="d-none">@row.CodigoAsignacionPermisos</td>
                    <td class="d-none">@row.CodigoSucursal</td>
                    <td>@row.Nombre</td>
                    <td>@row.Direccion</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
}
